.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%; }

.auth-wrapper .auth-inner {
  width: 100%;
  position: relative; }

.auth-wrapper.auth-v1 {
  align-items: center;
  justify-content: center;
  overflow: hidden; }



@media (max-width: 575.98px) {
  .auth-wrapper.auth-v1 .auth-inner:before {
    display: none; } }


@media (max-width: 575.98px) {
  .auth-wrapper.auth-v1 .auth-inner:after {
    display: none; } }

.auth-wrapper.auth-v2 {
  align-items: flex-start; }

.auth-wrapper.auth-v2 .auth-inner {
  height: 100vh;
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100); }

.auth-wrapper.auth-v2 .brand-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  margin: 0;
  z-index: 1; }

.auth-wrapper.auth-v1 .auth-inner {
  max-width: 465px;
  height:  496px;
}

.auth-wrapper .brand-logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0; }

.auth-wrapper .brand-logo .brand-text {
  font-weight: 700;
  font-size: 28px;
 color: #000000;
 }
 .card-text-1{
  color: #000000;
  text-align: center;
  font-weight: 400;
  font-size: 11px;
 }

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: -4px;
  width: 18px;
  height: 18px;
  user-select: none;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 14px 8px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: .2px;
  font-family: Roboto;
  user-select: none
}
.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
  user-select: none
}
.form-group-1{
  color: #000000;
  margin-top: 18px;
}
.form-control{
  color: #535353;
}
.form-label{
  color: black;
  font-size: 14px;
}
.sign{
  background-color: #093653;
  color: white;
  margin-top: 20px;
}
.form-group-2{
  display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
 .btn-1{
  width: 398px;
  margin: auto;
  height: 44px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  border: none;
  background-color: #F1F4F9;
 }

.auth-wrapper .auth-footer-btn .btn {
  padding: 0.6rem !important; }

.auth-wrapper .auth-footer-btn .btn:not(:last-child) {
  margin-right: 1rem; }

@media (min-width: 1200px) {
  .auth-wrapper.auth-v2 .auth-card {
    width: 400px; } }

.auth-wrapper .auth-bg {
  background-color: #fff; }

.dark-layout .auth-wrapper .auth-bg {
  background-color: #283046; }

@media (max-height: 625px) {
  .dark-layout .auth-wrapper .auth-inner {
    background-color: #283046; }
  .auth-wrapper .auth-bg {
    padding-top: 3rem; }
  .auth-wrapper .auth-inner {
    background-color: #fff;
    padding-bottom: 1rem; }
  .auth-wrapper.auth-v2 .brand-logo {
    width: 100%;
    display: flex;
    justify-content: unset;
    position: relative;
    left: 0;
    padding-left: 1.5rem; } }
