.main__content {
    overflow: hidden !important;
}

.main__Content__sidebar {
    width: 200px;
    margin-top: 5rem;
}

.approvals__information {
    height: 1144px;
    background: #F2F4F8;
}

.approvals__information span {
    transform: translateX(2rem);
    line-height: 2;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #697077;
}

.hiring {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #042840;
    font-weight: 500;
    padding-left: 0.6rem !important;
}

.candidate__status {
    padding: 0.2rem 2rem 0.2rem 0.7rem;
    border-radius: 8px;
    background: #FFFFFF;
    color: #042840 !important;
    font-weight: 700;
}

.candidate__status__box {
    width: 90vw;
    height: 65px;
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #D4D4D4;
    border-left: none;
    border-right: none;
    color: #042840 !important;
    font-size: 16px;
}

.box__1 {
    background: #042840 !important;
    color: #FFFFFF !important;
}

.box__2,
.box__3 {
    background: #F0F0F0 !important;
}

.box__3 {
    position: relative;
}

.box__10,
.box__17 {
    color: #0772B3 !important;
}

.box__10 {
    padding-top: 1rem !important;
    padding-bottom: 2.3rem !important;
}

.box__11 {
    background-color: #F0F0F0 !important;
}

.box__17 {
    margin-bottom: 4rem;
}

.delete__box {
    border: 1px solid #697077;
    background-color: #FFFFFF;
    padding: 5px 7px;
    margin-right: 35% !important;
}

@media screen and (max-width:1200px) {
    .delete__box {
        margin-right: 18% !important;
    }
}

@media screen and (max-width:1024px) {
    .delete__box {
        margin-right: 20% !important;
    }
}

@media screen and (max-width:975px) {
    .delete__box {
        margin-right: 35% !important;
    }
}


/* page 2  */


.choose__color {
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
}

.choose__color h2 {
    color: #000000 !important;
    font-size: 18px;
    font-weight: 500;
}

.choose__color span {
    font-weight: 400;
    font-size: 15px;
}

.bona__fide__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #042840;
}

.choose__file {
    padding: 0.3rem 1.9rem;
    text-align: center;
    border-radius: 1px;
    border: 1px solid #697077;
    color: #697077 !important;
    background: #FFFFFF;
}

.crop__logo {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
    margin-bottom: 1rem;
}

.logo__color {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #042840;
}









/* Line No 2.  */

/* page 1 */

.same__boxes__shadows {
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.border__radius__full {
    border-radius: 10px 10px 10px 10px !important;
}

.border__radius__top {
    border-radius: 10px 10px 0 0 !important;
}

.border__radius__bottom {
    border-radius: 0 0 10px 10px !important;
}

.border__radius__full__6px {
    border-radius: 6px 6px 6px 6px !important;
}

.border__radius__top__6px {
    border-radius: 6px 6px 0 0 !important;
}

.border__radius__bottom__6px {
    border-radius: 0 0 6px 6px !important;
}

.home__container {
    width: 100%;
}

.home__time__off {
    height: 55px;
    border-radius: 10px 10px 0 0 !important;
    background-color: #042840;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.home__side__menu {
    width: 22px;
    height: 40px;
    border-radius: 2px, 0px, 0px, 2px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 1rem;
}

.state__line {
    width: 110px;
    height: 1px;
    background-color: #F0F0F0;
    position: absolute;
    top: 0;
    transform: rotateY(45deg) !important;
}

.manage__job__openings__line {
    width: 60px;
    height: 1px;
    background: #042840;
    position: absolute;
    margin-top: 3px;
}

.line__left {
    border-left: 1px solid #F0F0F0;
}


.home__time__off span {
    font-family: Calibri;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-left: 5px;
}

.home__time__off__content {
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    margin-bottom: 1.5rem;
}

.state__line__main {
    display: flex;
    justify-content: center;
}

.state__line {
    border-left: 1px solid #F0F0F0;
    height: 20%;
    margin: 5rem auto 0;
    width: 1.5px;
}

.state__line__2nd {
    border-left: 1px solid #F0F0F0;
    width: 1.5px;
    height: 404px;

}

.third__horizontal__line {
    width: 113px;
    height: 1px;
    background: #042840 !important;
}

.home__time__off__content .home__time__off__span {
    font-family: Calibri;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #042840;
    padding-left: 4px;
}

.home__time__off__content h3 {
    font-family: Calibri;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #21272A;
    text-transform: uppercase;
}

.home__time__off__content .hours__p {
    font-family: Calibri;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #697077;
}

.time__off__req__btns {
    margin: auto;
    padding-bottom: 2rem;
}

.time__off__req__btns button {
    height: 42px;
    border-radius: 2px;
    border: none;
    background-color: #042840;
    color: #FFFFFF;
}

.time__off__req__btns button span {
    font-family: Calibri;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    padding-left: 5px;
}

.time__off__req__btns .time__off__req__btn2 {
    border-radius: 2px;
    border: 1px solid #042840;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.images__settings {
    width: 48px;
    height: 48px;
    background: #F4F4F4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images__settings img {
    width: 24px;
    height: 20px;
}




.home__boxs {
    width: 45vw;
    height: 65px;
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D4D4D4;
    color: #042840 !important;
    font-size: 16px;
    background-color: #FFFFFF;
}

.home__last_box {
    width: 45vw;
    height: 35px;
    background-color: #FFFFFF;
    margin-bottom: 1.4rem;
}

.home__2nd__box {
    width: 100vw;
}

.home__2nd__box__head {
    width: 45vw;
    height: 55px;
    border-radius: 10px 10px 0 0 !important;
    background-color: #042840;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.home__2nd__box__head span {
    font-family: Calibri;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.home__2nd__box__head p {
    color: #FFFFFF;
    text-decoration: underline;
    padding-right: 10px;
}

.home__box__1 {
    padding: 4rem 0;
}

.home__box__1__img1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.home__box__1 .home__box__1__p1 {
    width: 90%;
    transform: translateY(0.3rem);
    font-family: Calibri;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.home__box__1 .home__box__1__p2 {
    transform: translateY(0.5rem);
    font-family: Calibri;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #697077;
}

.home__box__same__imgs {
    padding-right: 1rem;
}

.home__box__same {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.home__box__same__p1 {
    font-family: Calibri;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.home__box__same__p2 {
    font-family: Calibri;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #697077;
}

.same__small__circles {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox__btn {
    width: 98px;
    height: 30px;
    border-radius: 1px;
    border: 1px solid #697077;
    text-align: center;
    margin-right: 5px;
}

.boxes__3 {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D4D4D4;
    color: #042840 !important;
    font-size: 16px;
    background-color: #FFFFFF;
}

.third__section__container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between !;
}

.col__box {
    height: 253px;
    border-radius: 6px;
}

.card__body {
    height: 202px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.same__header__title {
    padding: 1rem;
    background: #f8f8f8;
    display: flex;
    align-items: center;
}

.padding__1 {
    padding: 1rem;
}

.styling__for__section3__spans {
    padding-left: 6px !important;
    font-family: Calibri;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: left;
    color: #042840;
}

.whosOut__paras p {
    font-family: Calibri;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: -0.01em;
    text-align: left;
    color: #697077;
    padding-left: 1rem;
}

.font700 {
    font-weight: 700 !important;
}

.color__greish {
    color: #697077 !important;
}

.color__blackish {
    color: #000000 !important;
}

.color__blueish {
    color: #0772B3 !important;
}

.color__dark__blue {
    color: #042840 !important;
}

.curly__chart__span1 {
    position: absolute;
    top: 49% !important;
    left: 8%;
}

.curly__chart__span2 {
    position: absolute;
    top: 34% !important;
    right: 9%;
}

.background__for__col7 {
    width: 100%;
    height: 58px;
    border-radius: 4px;
    background: #F4F4F4;
    margin-bottom: 1rem;
    padding: 0.5rem 0 0 0.5rem;
}

.background__for__col9 {
    width: 90%;
    margin: auto;
    height: 48px;
    border-radius: 4px;
    background: #F4F4F4;
    margin-bottom: 1rem;
    padding: 0.5rem 0 0 0.5rem;
}

.background__for__col10 {
    width: 90%;
    margin: auto;
    height: 89px;
    border-radius: 4px;
    background: #F4F4F4;
    margin: 2rem 0;
    padding: 0.5rem 0 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.background__for__col10 .background__for__col10__div {
    display: flex;
    align-items: center;
}

.background__for__col10 span {
    font-size: 40px;
    color: #042840;
}

.location__absolute {
    position: absolute;
    top: 48%;
    left: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}














/* page 2 */


/* same classes  */

.padding__left__2 {
    padding-left: 2rem;
}

.flex__align {
    display: flex;
    align-items: center;
}

.flex__between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__start {
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
}

.flex__end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex__around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex__evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.font14__colorGray {
    font-size: 14px;
    color: #697077 !important;
}

.font16__colorGray {
    font-size: 16px;
    color: #697077 !important;
}

.font14__colorBlueish {
    font-size: 14px;
    color: #042840 !important;
}

.font16__colorBlueish {
    font-size: 16px;
    color: #042840 !important;
}

.font16__colorBlackish {
    font-size: 16px;
    color: #000000 !important;
}

.font12__colorBlackish {
    font-size: 12px;
    color: #000000 !important;
}

.font11__colorBlackish {
    font-size: 11px;
    color: #000000 !important;
}

.font11__colorGray {
    font-size: 11px;
    color: #697077 !important;
}

.font12__colorGray {
    font-size: 12px;
    color: #697077 !important;
}

.font13__colorGray {
    font-size: 13px;
    color: #697077 !important;
    font-weight: 400;
}


.font12__color_sky {
    font-size: 12px;
    color: #0772B3 !important;
}


.blue__link {
    color: #0772B3;
}






.edit__fields__btn {
    width: 94px;
    height: 42px;
    border-radius: 6px;
    background: #042840;
    border: none;
    color: #FFFFFF;
    position: absolute;
    right: -28%;
}

.people__span {
    color: #0772B3;
    position: absolute;
    right: -26%;
}

.pos___absolute {
    position: absolute;
    right: -26%;
}

.padding__left__5px {
    padding-left: 5px;
}

.padding__left__10px {
    padding-left: 10px;
}

.padding__right__5px {
    padding-right: 5px;
}

.padding__right__10px {
    padding-right: 10px;
}

.margin__left__5px {
    margin-left: 5px;
}

.margin__left__10px {
    margin-left: 10px;
}

.margin__right__5px {
    margin-right: 5px;
}

.margin__right__10px {
    margin-right: 10px;
}

.margin__top__5px {
    margin-top: 5px;
}

.margin__top__10px {
    margin-top: 10px;
}

.margin__bottom__5px {
    margin-bottom: 5px;
}

.margin__bottom__10px {
    margin-bottom: 10px;
}

.padding__top__5px {
    padding-top: 5px;
}

.padding__top__10px {
    padding-top: 10px;
}

.padding__bottom__5px {
    padding-bottom: 5px;
}

.padding__bottom__10px {
    padding-bottom: 10px;
}

.padding__for__tr_th_td {
    padding: 1.5rem 0 1.5rem 1rem !important;
}

.my__info__main__section {
    width: 98%;
    margin: auto;
    height: 55px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.nav__container {
    background: #042840;
}

.nav__container ul li a {
    font-family: Calibri;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.nav__container ul .active__active {
    border-radius: 5px, 5px, 0px, 0px;
    background: #FFFFFF !important;
}

.nav__container ul .active__active a {
    font-size: 16px;
    font-weight: 700;
    color: #042840 !important;
}

.content__container {
    background: #FFFFFF;
    padding: 1rem 0 3rem;
}

.drop__down__icons {
    padding: 4px 8px;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    position: absolute;
    top: 0;
    left: 0;
}

.input__groups__span {
    border-radius: 0 !important;
    background: #E5E5E5;
    border: 1px solid #697077
}









/* 3rd page  */

.aca__para {
    width: 146px;
    height: 21px;
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    color: #042840;
    font-weight: bolder !important;
    font-size: 13px;
    padding-left: 1rem;
}

.three__drop__diff__btn {
    width: 338px;
}

.small___bar {
    width: 60px;
    height: 1px;
    background-color: #042840 !important;
    position: absolute;
    right: -4%;
    bottom: -20%;
}

.small___bar2 {
    width: 113px;
    height: 1px;
    background-color: #042840 !important;
    position: absolute;
    left: 5%;
    bottom: -13%;
}

.filter__box {
    border: 1px solid #697077;
    background-color: #FFFFFF;
    padding: 8px 7px;
}

.small__box__num__1 {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border: 1px solid #697077
}

.small__box__num__1.num2 {
    background: #F4F4F4;
}


.four__cols__row {
    display: flex;
    flex-wrap: nowrap;
}

.recent__boxes {
    width: 24% !important;
    flex: 0 0 auto;
    height: 152px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #F4F4F4;
}

.recent__boxes:last-child {
    margin-right: 0;
}

.padding__for__tr {
    padding: 1.5rem 1rem !important;
}



.files__container__boxes {
    width: 100%;
    padding: 1.5rem;
}

.files__container__boxes.files__container__boxes1 {
    background: #F0F0F0;
}

.account__info__box {
    flex: 0 0 auto;
    width: 28.6vw !important;
    height: 333px;
    background: #FFFFFF;
}

.pos___absolute__btns {
    width: 84px;
    height: 22px;
    border-radius: 6px 0px 0px 0px !important;
    font-family: Calibri;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    background: #042840;
    color: #FFFFFF;
    padding-top: 4px;
}


.two__step__varification__box {
    width: 100%;
    height: 72px;
    border-radius: 1px;
    border: 1px solid #697077;
    background: #FFFFFF;
}











/* Line no 6  */

.install__btn {
    width: 62px;
    height: 32px;
    border-radius: 2px;
    border: 1px solid #697077;
    background-color: #FFFFFF;
    color: #697077 !important;
}

.not__install__app__box {
    width: 220px;
    height: 120px;
    border-radius: 1px;
    border: 1px solid #697077;
    color: #697077 !important;
    background: #FFFFFF;
}









/* Line no 7  */

.benefits__management__box {
    width: 97%;
    height: 166px;
    border-radius: 1px;
    border: 1px solid #697077;
    background: #FFFFFF;
    margin: auto;
}

.plans__box__bar {
    width: 95%;
    height: 62px;
    background: #F0F0F0;
    /* border-top: 1px solid #D4D4D4;
    border-bottom: 1px solid #D4D4D4; */
}

.box__curve__mouth {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    background: #D4D4D4;
}

.box__curve__mouth::after {
    content: '';
    position: absolute;
    top: calc(50% - 1.61rem);
    right: calc(-1.6rem);
    transform: rotate(45deg);
    width: 3.2rem;
    height: 3.2rem;
    background: #D4D4D4;
}








/* slide no. 9  */



.background__black__with__opacity::before {
    content: '';
    background: #000000B2 !important;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
}

.modal___dialog {
    width: 35%;
    margin: auto;
    background: #FFFFFF;
    position: fixed;
    top: 33%;
    right: 30%;
    z-index: 999999;
    border-radius: 8px;
}

.modal___header {
    width: 100%;
    height: 4.5rem;
    margin: auto;
    border-radius: 6px 6px 0px 0px;
    background: #042840;
}

.modal___title {
    color: #FFFFFF;
}

.cancel__img {
    transform: translate(-2.4rem, 0.8rem) !important;
}











/* last slide  */

.nav__para__top__1 {
    position: absolute;
    top: 10%;
    left: 2%;
}

.nav__para__top__2 {
    position: absolute;
    top: 10%;
    right: 2%;
}

.progress__para__1 {
    font-family: Calibri;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000 !important;
    margin-bottom: 10px;
}

.progress__para__2 {
    font-family: Calibri;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #000000 !important;
    margin-bottom: 1.4rem;

}

.customer__upload__box {
    width: 100%;
    height: 130px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border: 1px solid #E5E5E5;
    background-color: #FFFFFF;
}

.import__invoices__box {
    border: 1px solid #042840;
    border-radius: 50%;
    margin: auto;
    padding: 1rem 1.7rem;
    color: #042840 !important;
    font-size: 18px;
}

.import__invoices__box__line {
    width: 120px;
    height: 1px;
    background: #D4D4D4;
    transform: translateY(-1rem);
}

.preview__whats__required__box {
    width: 388px;
    height: 76px;
    border-radius: 1px;
    border: 1px solid #697077;
    background: #FFFFFF;
}

.attachments__upload {
    width: 407px;
    height: 90px;
    border: 1px solid #697077;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 6px;
}

.save__and__send__btn {
    background: #25A249;
    width: 122px;
    height: 36px;
    border-radius: 6px;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

.money__in__out__box {
    width: 100%;
    height: 204px;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.add__employee__details__box {
    width: 60%;
    height: 100vh !important;
    background: #FFFFFF;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 999999;
    overflow: auto;
}

.add__employee__details__box article {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border-radius: 0.5rem;
}

.employee__icons__box {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #0000001A;
    margin: 0 0.2rem;
    transform: translate(2.2rem, -2.3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.run__report__line {
    width: 50px;
    height: 1px;
    background: #D4D4D4;
    transform: rotateZ(90deg);
}

.kanban__dailog {
    width: 30%;
    height: 43%;
    margin: auto;
    background: #FFFFFF;
    position: fixed;
    top: 33%;
    right: 30%;
    z-index: 999999;
    border-radius: 8px;
}

.kanban__img {
    position: relative;
}

.kanban__img .img1 {
    transform: translateY(-2.5rem);
}

.kanban__img h1 {
    transform: translateY(-2rem);
}

.kanban__img .img2 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8rem;
}

.kanban___body {
    transform: translateY(-3rem);
    padding-left: 2rem;
}

.kanban___body p {
    line-height: 1.5;
}





.add__new__task__grid__layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.add__new__task__box {
    background: #FFFFFF;
    height: 658px;
    width: 100%;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #0000001A;
}

.add__new__task__box__header {
    width: 100%;
    height: 60px;
    border-radius: 6px 6px 0px 0px;
    background: #042840;
}

.rectangle__rotate {
    width: 19.35px;
    height: 19.35px;
    background: #D9D9D9;
    position: absolute;
    top: 110%;
    left: -10%;
    transform: rotateZ(45deg);
}